<div class="count home"></div>
<div class="count visitors"></div>
<script id="count-template" type="text/template">
 <span class="current top "><%= current %></span>
 <span class="next top "><%= next %></span>
 <span class="current bottom "><%= current %></span>
 <span class="next bottom "><%= next %></span>
</script>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<script src="/assets/js/board.js"></script>